@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-animation: textfield;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }
}

@layer components {
    .tip-option {
        @apply bg-blue-800 text-white rounded-l;
        @apply text-center p-2 text-2xl;
    }
    .input-label {
        @apply opacity-70 mb-3 text-base;
    }

    .input-number {
        @apply text-right w-full text-xl text-green-900;
        @apply p-2 bg-gray-100;
    }

    main {
        @apply bg-white p-10  mx-auto rounded-3xl;
        @apply lg:min-h-[460px] lg:grid lg:grid-cols-2 lg:gap-10 max-w-[90%] xl:max-w-[70%] 2xl:max-w-[60%];
    }
}
